<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Регистрација</title>
</head>
<body>
<h1>Регистрација</h1>
<p th:if="${error}" th:text="${error}" style="color:red"></p>

<form method="post" action="/register">
    <input type="text" name="username" placeholder="Корисничко име" required/>
    <input type="text" name="fullName" placeholder="Целосно име" required/>
    <input type="date" name="dob" required/>
    <input type="text" name="address" placeholder="Адреса на живеење" required/>
    <input type="email" name="email" placeholder="Email" required/>
    <input type="password" name="password" placeholder="Лозинка" required/>
    <button type="submit">Регистрирај се</button>
</form>

<p>Веќе имаш сметка? <a href="/login">Најави се</a></p>
</body>
</html>